@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
 @media screen and (max-width: 700px) {
    .large{
        max-width: 95vw;
        width: 1px;
        
        min-width: 60vw;
        min-height: 70vw;

        
        
    
        
        
        
        
    }
    body {
        max-width: 100vw;
        display: flex;
        padding: 30vh 1px;
        align-items: center;
        
        
        
    }
}
 
 

body {
    
    font-family: "Roboto", sans-serif;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 0;
    

    
  
    /*  display: flex;
    align-items: center;
    justify-content: center; */
}

    

/* .large {
    
    align-items: center;
    justify-items: center;
    min-height: 900px;
    min-width: 700px;
    width: 40%;
    height: 60%;
    background-color: #fff;
    position: absolute;
}

.small {
    display: flex;
    z-index: 1;
    position: absolute;
    max-width: 500px;
    max-height: 450px;
    background-color: #fff;
    top: 42%;
    left: 100px;
    
    text-align: justify;
    text-decoration: #2f2e2e48 ;
    justify-content: center ;
    align-content: center;
    flex-direction: column;
    line-height: 2rem;
    padding: 50px;
    margin-bottom: 0;
    margin-inline: auto;
    
    
}

button {
    display: block;
    z-index: 1;
    text-transform: uppercase;
    padding: 20px;
    border: 2px #0a0a0a70;
    text-align:center;
    margin: 30px auto;
    width: 200px;
    
    
    
    position: relative;
    
}

.image-box {
    height: 400px;
    width: 700px;
    z-index: 0;
    object-fit: contain;
    position: absolute;
}

h3 {
    margin-top: 70px;
    text-align: center;
    font-weight: 700;
    opacity: 0.8;
}

h4{
    text-align: center;
    font-style: italic;
    font-weight: 400;
    opacity: 0.6;
}

hr {
    height: 4px;
    display: block;
    background-color: #0a0a0a70;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
} */



.large {
    align-items: center;
    justify-items: center;
    min-height: 900px;
    min-width: 650px;
    
    height: 60%;
    background-color: #fff;
    
    margin: auto;
    align-items: center;

}

.image-box {
    height: 400px;
    width: 650px;
    
    background-position: center;
    background-color: blanchedalmond;
    background-image: url(/assets/img/vertical-low-angle-shot-skyscrapers-bright-sky-new-york-city-united-states.jpg);
    background-size: cover;
}

.small {
    display: flex;
    z-index: 1;
    position: relative;
    max-width: 500px;
    max-height: 450px;
    background-color: #fff;
    top: -5%;
    

    
    
    text-align: justify;
    text-decoration: #2f2e2e48 ;
    justify-content: center ;
    align-content: center;
    flex-direction: column;
    line-height: 2rem;
    padding: 50px;
    margin-bottom: 0;
    margin-inline: auto;

}

hr {
    height: 4px;
    display: block;
    background-color: #0a0a0a70;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

h4{
    text-align: center;
    font-style: italic;
    font-weight: 400;
    opacity: 0.6;
}

h3 {
    margin-top: 70px;
    text-align: center;
    font-weight: 700;
    opacity: 0.8;
}

button {
    display: block;
    z-index: 1;
    text-transform: uppercase;
    padding: 20px;
    border: 2px #0a0a0a70;
    text-align:center;
    margin: 30px auto;
    width: 200px;
    
    
    
    position: relative;
    
}